main{
    color: white;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "my-header my-header my-header"
    "my-section my-section my-section"
    /* "my-footer my-footer my-footer" */
}

header{
    background: dodgerblue;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: my-header;
}

img{
    padding: 25px 15px;
}

.title{
    text-transform: capitalize;
}

section{
    grid-area: my-section;
    display: grid;
    align-content: center;
    justify-items: center;
}

.opacidad_img_btn {
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.img_cepillos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img_btn_1, #img_btn_2{
    cursor: pointer;
}


@media (max-width: 680px) and (min-width: 0px){
    .new_video {
        position: relative;
        padding-bottom: 56.25%;
        /* padding-top: 30px; */
        height: 0;
        overflow: hidden;
    }
    .new_video iframe, .new_video object, .new_video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 485px) {
    header{
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    /* .img_cepillos{
        width: 100%;
        height: auto;
    } */
}